{# src/KEEG/ArticleBundle/Resources/views/Article/menu.html.twig #}

{# Ce template n'hérite de personne, tout comme le template inclus avec {{ include() }}. #}

<ul class="nav nav-pills nav-stacked">
  {% for item in listeItems %}

  	{%if section is same as ('Article')%}
		
		<div class="col-md-2">
			<img src="{{ asset('image/default.png') }}">
		</div>
		<div class="col-md-3">
			<p>
				{{ item.titre }}<br />
				<a href="{{ path('keeg_article_view', {'id': item.id}) }}"> Voir suite... </a>
			</p>
		</div>
	
	{% elseif section is same as ('News') %}
	
		<div class="col-md-2">
			<img src="{{ asset('image/default.png') }}">
		</div>
		<div class="col-md-3">
			<p>
				{{ item.titre }}<br />
				<a href="{{ path('keeg_news_view', {'id': item.id}) }}"> Voir suite... </a>
			</p>
		</div>
	
	{% elseif section is same as ('Temoignages') %}
		
		<div class="col-md-2">
			<img src="{{ asset('image/default.png') }}">
		</div>
		<div class="col-md-3">
			<p>
				{{ item.temoin }}<br />
				<a href="{{ path('keeg_temoignage_view', {'id': item.id}) }}"> Voir suite... </a>
			</p>
		</div>

	{% endif %}
	
  {% endfor %}
</ul>