{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "KEEGArticleBundle::layout.html.twig" %}

{% block title %}
	{{ article.titre }} - {{ parent() }}
{% endblock %}

{% block keegarticle_body %}

	<h2>{{ article.titre }}</h2>
	<i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>

	{# On vérifie qu'une image est bien associée à l'article #}
	{% if article.image is not null %}
		<center>
			<img class="img" src="{{ article.image.url }}" alt="{{ article.image.alt }}" width="500px" height="300px" />
		</center>
	{% endif %}

	<blockquote>
		{{ article.resume }}
	</blockquote>

	<div class="well">
		{{ article.contenu|raw }}
	</div>

	<p class="text-right">
		<a href="{{ path('keeg_website_articles') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
				Revenir aux articles
		</a>
	</p>
	
{% endblock %}