{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "KEEGArticleBundle::layout.html.twig" %}

{% block title %}
	{{ temoignage.titre }} - {{ parent() }}
{% endblock %}

{% block keegarticle_body %}

	<h2>{{ temoignage.titre }}</h2>
	<i>Par {{ temoignage.intervenant }}, le {{ temoignage.date|date('d/m/Y') }}</i>

	{# On vérifie qu'une image est bien associée à l'temoignage #}
	{% if temoignage.image is not null %}
		<center>
			<img class="img" src="{{ temoignage.image.url }}" alt="{{ temoignage.image.alt }}" />
		</center>
	{% endif %}

	<blockquote>
		{{ temoignage.accroche }}
	</blockquote>

	<div class="well">
		{{ temoignage.contenu|raw }}
	</div>

	<p class="text-right">
		<a href="{{ path('keeg_website_temoignages') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
				Revenir aux temoignages
		</a>
	</p>
	
{% endblock %}