{# src/KEEG/ActivityBundle/Resources/views/Projects/form.html.twig #}

<div class="well">
  {{ form_start(form, {'attr': { 'class': 'form-horizontal'}}) }}

	{# Les erreurs générales du formulaire #}
  {{ form_errors(form) }}

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.titre, "Titre du témoignage", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.titre) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.titre, {'attr': {'class': 'form-control'}}) }}
	</div>

  </div>

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.date, "Date de publication", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.date) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.date) }}
	</div>

  </div>

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.intervenant, "Témoignant", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.intervenant) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.intervenant, {'attr': {'class': 'form-control'}}) }}
	</div>

  </div>

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.accroche, "Phrase d'accroche", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.accroche) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.accroche, {'attr': {'class': 'form-control'}}) }}
	</div>

  </div>

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.contenu, "Contenu du témoignage", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.contenu) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.contenu, {'attr': {'class': 'form-control'}}) }}
	</div>

  </div>

  <div class="form-group">

  	<hr />
  	
  	{# Génération du label. #}
  	{{ form_label(form.image, "Image", {'label_attr': {'class': 'col-sm-12 text-center text-uppercase'}}) }}

  </div>

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.image.url, "Adresse de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.image.url) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.image.url, {'attr': {'class': 'form-control'}}) }}
	</div>

  </div>

  <div class="form-group">
  	
  	{# Génération du label. #}
  	{{ form_label(form.image.alt, "Nom de l'image", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

	{# Affichage des erreurs pour ce champ précis #}
  	{{ form_errors(form.image.alt) }}

	<div class="col-sm-10">
		
		{# Génération de l'input #}
		{{ form_widget(form.image.alt, {'attr': {'class': 'form-control'}}) }}
	</div>

  </div>

  {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}
  {{ form_end(form) }}
</div>