{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGArticleBundle::layout.html.twig" %}

{% block title %}
  L'Univers de l'Informatique {{ parent() }}
{% endblock %}




{% block messages_flash %}
  {% for message in app.session.flashbag.get('accueil') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Message flash : {{ message }}
    </div>
  {% endfor %}
{% endblock %}
    


{% block menu %}
	<h3>L'Univers de l'Informatique </h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('keeg_universe_iut') }}">IUT Informatique de Lyon1</a></li>
		<li><a href="{{ path('keeg_universe_debouches') }}">Les métiers de l'informatique</a></li>
		<li><a href="{{ path('keeg_universe_formations') }}">Les formations</a></li>
		<li><a href="{{ path('keeg_universe_loisirs') }}">Loisirs liés à l'informatique</a></li>
	</ul>
{% endblock %}

{% block keegarticle_body %}

  	<h3> Venez découvrir le domaine de l'informatique ! </h3>

	<div class="container-fluid well">
		<div class="col-lg-12">

			<h3>Mindmapping</h3>

			<big><p>Voici un résumé de ce que vous allez découvrir dans cette section de notre site : </p></big>

			<center><a href="{{ asset('image/info-mindmapping.png') }}" title="Cliquez pour agrandir"><img src="{{ asset('image/info-mindmapping.png') }}" alt="mindmapping" height="450" width="600" /></a></center>
			
			<div class="col-lg-12 text-justify">
				<p>&nbsp;</p>

				<h3>Qu&#39;est-ce que l&#39;informatique ?</h3>

				<blockquote>
					<p><small>Wikipédia</small></p>

					<p>L&#39;<strong>informatique</strong> est un domaine d&#39;activité <a href="http://fr.wikipedia.org/wiki/Sciences_exactes">scientifique</a>, <a href="http://fr.wikipedia.org/wiki/Technique">technique</a> et <a href="http://fr.wikipedia.org/wiki/Industrie">industriel</a> concernant le <a href="http://fr.wikipedia.org/wiki/Syst%C3%A8me_de_traitement_de_l%27information">traitement automatique de l&#39;information</a> via l&rsquo;exécution de <a href="http://fr.wikipedia.org/wiki/Programme_informatique">programmes informatiques</a> par des <a href="http://fr.wikipedia.org/wiki/Machine">machines</a>&nbsp;: des <a href="http://fr.wikipedia.org/wiki/Syst%C3%A8me_embarqu%C3%A9">syst&egrave;mes embarqués</a>, des <a href="http://fr.wikipedia.org/wiki/Ordinateur">ordinateurs</a>, des <a href="http://fr.wikipedia.org/wiki/Robot">robots</a>, des <a href="http://fr.wikipedia.org/wiki/Automate">automates</a>,&nbsp;etc.</p>

				</blockquote>

				<big>
				<p>Vous avez tout compris ? Vous &ecirc;tes chez <em>Free</em> !! xD</p>

				<p>Un peu compliquée et pas belle la définition de Wikipédia, n&#39;est-ce pas ? Certes elle n&#39;est pas fausse, mais elle est cependant tr&egrave;s incompl&egrave;te.</p>

				<p>Alors l&#39;informatique, qu&#39;est-ce que c&#39;est ?</p>

				<hr />

				<h3>Qui se sert de l'informatique ? </h3>

				<br /><p> L'informatique aujourd'hui est partout et tout le monde s'en sert. Travailler dans ce domaine signifie donc être au service d'une grande communauté réunie sur la toile. </p>


				<center><p><img src="{{ asset('image/info/métiers-informatique.jpg') }}" width="500" /></p></center>


				<hr />

				<h3> Notre point de vue </h3>

				<br /><p>Pour nous l'info c'est :</p>

				</big>

				<div class="row">
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/possibilite.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/communication.jpg') }}" alt="communication" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/technologie.jpeg') }}" alt="technologie" width="185" height="135">
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/mixite.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/futur.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/argent.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/art.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/musique.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/game.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
				</div>

				<big>

				<br /><p>Comme vous pouvez le voir, l'informatique c'est :</p>
				<ul>
					<li>d&#39;innombrables possibilités,</li>
					<li>des outils de communication,</li>
					<li>de la technologie,</li>
					<li>de l&#39;amour,</li>
					<li>de l&#39;art,</li>
					<li>de la musique,</li>
					<li>des jeux vidéos...</li>
				</ul>

				<br /><p>De plus ce domaine est ouvert sur :</p>

				<ul>
					<li>la mixité : en effet, <strong>tout le monde</strong> peut venir : petits, grands, filles, garçons, y en a même on se demande.., <strong>geeks</strong>, <strong>non geeks</strong>, vos goûts et couleurs n'ont pas d'importance ! Comme on dit il faut de tout pour faire un monde ! L'informatique est à votre portée.</li>
					<li>l'avenir : avec un <strong>minimum de travail</strong> vous pouvez comprendre les mécanismes qui font tourner le monde d'aujourd'hui et y apporter votre graine ! Vous passerez donc pour les génies de demain, sans pour autant vous être tuer à la tâche puisque la rêgle principale en informatique, c'est de <strong>s'amuser</strong> !</li>
				</ul>

				<br /><p>De plus l'informatique aujourd'hui est un domaine où <strong>la demande est forte</strong>, étant donné son omniprésence depuis le XXIième siècle (et même un peu avant !) dans tous les autres domaines du quotidien : médecine, économie, armée, planification, devoirs de lycéen(ne)s... C'est également la raison pour laquelle <strong>le salaire est en moyenne plus évelé</strong> qu'ailleurs. Mais c'est également un domaine <strong>passionnant</strong> qui réunit des personnes de tous les genres, pour finalement en faire une grande <em>communauté</em>.</p>

				<hr />

				<h3> Découvre ton KEEG profil ! </h3>

				<br /><p> Un autre moyen de découvrir si l'informatique te correspond vraiment, c'est de passer<p>
				<center><p><b>"The Big Affinity Test That Determines My KEEG Profil : <em> The BADMKP ! </em>" </b></p></center>
				<p> On plaisante, on a toujours pas réussi à lui donner de nom. </p>

				<a href="{{ path('keeg_activity_questionnaires') }}" type="button" class="btn btn-primary btn-lg btn-block"> Faire le BADMKP ! </a>

				</big>


			</div>

		</div>
	</div>
 
{% endblock %}