{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGArticleBundle::layout.html.twig" %}

{% block title %}
  L'Univers de l'Informatique {{ parent() }}
{% endblock %}




{% block messages_flash %}
  {% for message in app.session.flashbag.get('accueil') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Message flash : {{ message }}
    </div>
  {% endfor %}
{% endblock %}
    


{% block menu %}
	<h3>L'Univers de l'Informatique </h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="{{ path('keeg_universe_iut') }}">IUT Informatique de Lyon1</a></li>
		<li><a href="{{ path('keeg_universe_debouches') }}">Les métiers de l'informatique</a></li>
		<li><a href="{{ path('keeg_universe_formations') }}">Les formations</a></li>
		<li><a href="{{ path('keeg_universe_loisirs') }}">Loisirs liés à l'informatique</a></li>
	</ul>
{% endblock %}

{% block keegarticle_body %}

  	<h3> Venez découvrir le domaine de l'informatique ! </h3>

	<div class="container-fluid well">
		<div class="col-lg-12">

			<a href="{{ asset('image/info-mindmapping.png') }}" title="Cliquez pour agrandir"><img src="{{ asset('image/info-mindmapping.png') }}" alt="mindmapping" height="450" width="600" /></a>
			
			<div class="col-lg-12 text-justify">
				<p>&nbsp;</p>

				<h3>Qu&#39;est-ce que l&#39;informatique ?</h3>

				<blockquote>
					<p><small>Wikipédia</small></p>

					<p>L&#39;<strong>informatique</strong> est un domaine d&#39;activité <a href="http://fr.wikipedia.org/wiki/Sciences_exactes">scientifique</a>, <a href="http://fr.wikipedia.org/wiki/Technique">technique</a> et <a href="http://fr.wikipedia.org/wiki/Industrie">industriel</a> concernant le <a href="http://fr.wikipedia.org/wiki/Syst%C3%A8me_de_traitement_de_l%27information">traitement automatique de l&#39;information</a> via l&rsquo;exécution de <a href="http://fr.wikipedia.org/wiki/Programme_informatique">programmes informatiques</a> par des <a href="http://fr.wikipedia.org/wiki/Machine">machines</a>&nbsp;: des <a href="http://fr.wikipedia.org/wiki/Syst%C3%A8me_embarqu%C3%A9">syst&egrave;mes embarqués</a>, des <a href="http://fr.wikipedia.org/wiki/Ordinateur">ordinateurs</a>, des <a href="http://fr.wikipedia.org/wiki/Robot">robots</a>, des <a href="http://fr.wikipedia.org/wiki/Automate">automates</a>,&nbsp;etc.</p>

				</blockquote>

				
				<p><big>Vous avez tout compris ? Vous &ecirc;tes chez <em>Free</em> !! xD</big></p>

				<p><big>Un peu compliquée et pas belle la définition de Wikipédia, n&#39;est-ce pas ? Certes elle n&#39;est pas fausse, mais elle est cependant tr&egrave;s incompl&egrave;te.</big></p>

				<p><big>Alors l&#39;informatique, qu&#39;est-ce que c&#39;est ?</big></p>

				<hr />

				<h3>Qui se sert de l'informatique ? </h3>

				<br /><p><big> L'informatique aujourd'hui est partout et tout le monde s'en sert. Travailler dans ce domaine signifie donc être au service d'une grande communauté réunie sur la toile. </big></p>
				<center><p><img src="http://lepetitkopat.fr/wp-content/uploads/metiers-informatique.png" width="500" /></p></center>


				<hr />

				<h3> Notre point de vue </h3>

				<br /><p><big>Pour nous l'info c'est :</big></p>


				<div class="row">
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/possibilite.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/communication.jpg') }}" alt="communication" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/technologie.jpeg') }}" alt="technologie" width="185" height="135">
					</div>
					
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/mixite.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/futur.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/argent.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/art.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/musique.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
					<div class="col-lg-3 col-md-4">
						<img src="{{ asset('image/info/game.jpg') }}" alt="possibilite" width="185" height="135">
					</div>
				</div>
{#}
				<hr />
				<ul>
					<li><big>d&#39;innombrables possibilités,</big></li>
					<li><big>des outils de communication,</big></li>
					<li><big>de la technologie,</big></li>
					<li><big>de l&#39;amour,</big></li>
					<li><big>du WTF,</big></li>
					<li><big>des chats :3,</big></li>
					<li><big>de l&#39;art,</big></li>
					<li><big>de la musique,</big></li>
					<li><big>du gaming...</big></li>
				</ul>
#}
				<br /><p><big>De plus on peut caractériser ce domaine par :</big></p>

				<ul>
					<li><big>de la mixité,</big></li>
					<li><big>de l'avenir,</big></li>
					<li><big>et de l'ARGENT !</big></li>
				</ul>

				<br /><p><big>En effet, aujourd'hui l'informatique est un domaine où <strong>la demande est forte</strong>, étant donné son omniprésence depuis le XXIième siècle dans tous les autres domaines du quotidien : médecine, économie, armée, planification... C'est également la raison pour laquelle <strong>le salaire est en moyenne plus évelé</strong> qu'ailleurs. </big></p>

				<hr />


				<hr />

				<h3> Découvre ton KEEG profil ! </h3>

				<br /><p> Un autre moyen de découvrir si l'informatique te correspond vraiment, c'est de passer <b>"The Big Affinity Test That Determines My KEEG Profil : <em> The BADMKP ! </em>" </b></p>
				<p> On plaisante, on a toujours pas réussi à lui donner de nom. </p>

				<a href="" type="button" class="btn btn-primary btn-lg btn-block"> Faire le BADMKP ! </a>



			</div>

			

			{#}

			<div class="row">
				<h4>
					<center> 
						Cette formation est-elle faite pour moi ? 
					<center>
				</h4>
				<br />
				<div class="col-lg-12">
					<div class="row">
						<p class="textJustify">
							<center>
								Tu hésites ? Tu ne sais pas si tu as le profil pour faire de l'informatique ? Pas
								de panique ! Nous avons préparé un super questionnaire afin de cibler ta
								personnalité et de savoir si l'informatique est fait pour toi ou non !
								<br />
								En plus, nous te donnerons aussi un aperçu des différentes formations dans
								le domaine de l'informatique !
								<br />
								Alors qu'est ce que tu attends pour faire ce test ? ;)
							</center>
						</p>
					</div>
					<br />
					<div class="row">
						<center>
							<a href="#"> Je fais le quizz ! </a>
						</center>
					</div>
				</div>
			</div>

			

			#}

		</div>
	</div>
 
{% endblock %}