{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "KEEGActivityBundle::layout.html.twig" %}

{% block title %}
	{{ project.titre }} - {{ parent() }}
{% endblock %}

{% block keegactivities_body %}

	<center>
		<a href="{{project.url}}" title="Cliquez pour voir le projet" target="_blank" class="btn btn-default btn-block" >
			Ouvrir le projet dans un nouvel onglet
		</a>
	</center>

	{# On vérifie qu'une image est bien associée à l'annonce #}
	{% if project.image is not null %}
		<center>
			<img class="img" src="{{ project.image.url }}" alt="{{ project.image.alt }}" width="500px" height="300px" />
		</center>
	{% endif %}

	<h2>{{ project.titre }}</h2>
	<i>Par {{ project.auteur }}</i>


	<blockquote>
		{{ project.accroche }}
	</blockquote>

	<div class="well">
		{{ project.description }}
	</div>


	<p class="text-right">
		<a href="{{ path('keeg_activity_projects') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
				Revenir aux projets
		</a>
	</p>
	
{% endblock %}