{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGWebsiteBundle::structure_contact_about.html.twig" %}




{% block messages_flash %}
  {% for message in app.session.flashbag.get('accueil') %}
	<div class="alert alert-info alert-dismissible" role="alert">
	  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	  Message flash : {{ message }}
	</div>
  {% endfor %}
{% endblock %}
    
{% block body %}
	<div class="row">
		<div id="content" class="col-md-12 col-lg-12">
			<h3>
				<center>
					KEEG Project : c'est quoi ?
				</center>
			</h3>
			
			<br />

			<div class="container-fluid well">
				<h4>
					Un projet d'études
				</h4>
				<p>
					Notre petit projet KEEG a vu le jour il y a un an à l'IUT Lyon 1, 
					avec l'envie d'aider les lycéens à trouver leur voie, celle de l'informatique. 
					Pour cela, nous sommes quatre étudiantes à avoir relevé le défi de développer un 
					site web afin de vous informer sur la formation. 
				</p>
				
				<br />
				<h4>
					Nos objectifs
				</h4>
				<p>
					<ul>
						<li> Casser les préjugés à propos de l'informatique </li>
						<li> Montrer qu'il s'agit d'un domaine parfaitement accessible
						aussi bien pour les garçons que pour les <strong> filles </strong></li>
						<li> Pouvoir renseigner les lycéen(ne)s et étudiants à propos de l'informatique</li>
						<li> Créer une communauté autour des étudiant(e)s en informatique, et futurs étudiant(e)s </li>
					</ul>
				</p>
				
				<br />
				<h4>
					Et après ?
				</h4>
				<p>
					Design, nouvelles fonctionnalités, il y a encore beaucoup à faire sur ce projet !
					Ainsi, nous espérons que l'équipe KEEG sera renouvellée avec une nouvelle génération
					d'étudiant(e)s et que notre projet sera mis à terme.
					<br />
					Ensuite, c'est à la communauté de KEEG de faire vivre le projet ! ;)
				</p>
			</div>

			<div class="container-fluid well">
				<h4> <center> Membres du projet KEEG </center> </h4>
				<br />
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<center>
							<table class="espaceTable">
								<tr>
									<td> <img class="img-circle img-responsive" src="{{ asset('image/membres/melanie.jpg') }}" > </td>
									<td> <img class="img-circle img-responsive" src="{{ asset('image/membres/ophelieE.jpg') }}" > </td>
									<td> <img class="img-circle img-responsive" src="{{ asset('image/membres/karen.jpg') }}" > </td>
									<td> <img class="img-circle img-responsive" src="{{ asset('image/membres/ophelieR.jpg') }}" > </td>
								</tr>
								<tr>
									<td> <center> <em> Mélanie DUBREUIL </em> </center> </td>
									<td> <center> <em> Ophélie EOUZAN </em> </center> </td>
									<td> <center> <em> Karen OUBARHOU  </em> </center> </td>
									<td> <center> <em> Ophélie RODRIGUES </em> </center> </td>
								</tr>
							</table>
						</center>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
