{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title> Contact - KEEG Project </title>

  {% block stylesheets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
  {% endblock %}
  
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ path('keeg_website_homepage') }}">KEEGProject</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="{{ path('keeg_website_homepage') }}"><i class="glyphicon glyphicon-home"></i> Accueil</a></li>
					<li><a href="{{ path('keeg_website_iut') }}">L'Univers de l'Informatique</a></li>
					<li><a href="{{ path('keeg_website_activities') }}">A vous de jouer !</a></li>
					<li class="dropdown">
						<a href="{{ path('keeg_website_forums') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Forums <span class="caret"></span>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#">Poser une question à la communauté KEEG </a></li>
							<li><a href="#">Voir mes dernières réponses</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">Derniers sujets </li>
							<li><a href="#">HELP : Lettre de motivation IUT</a></li>
							<li><a href="#">Informatique : Difficile ou pas ?</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ path('keeg_website_about') }}">About</a></li>
					<li><a href="{{ path('keeg_website_contact') }}">Contact</a></li>
				</ul>
            </div>
        </div>
    </nav>
	  
    <header class="jumbotron">
		<h1> KEEG : L'informatique pour tou(te)s {# ♂♀ #} </h1>
		<p>
			Découvrez un domaine fait aussi bien pour les garçons que pour les filles !
		</p>
		<p>
			<a href="#"> Se connecter </a> | <a href="#"> S'inscrire </a>
		</p>
    </header>



{% block messages_flash %}
  {% for message in app.session.flashbag.get('accueil') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Message flash : {{ message }}
    </div>
  {% endfor %}
{% endblock %}
    

<div class="row">
		<div id="content" class="col-md-12">
			<h3>
				<center>
					Questions ? Suggestions ?
				</center>
			</h3>
			<br />

			<div class="container-fluid well">
				{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

				{{ form_errors(form) }}

				<div class="col-lg-12">
					<div class="form-group">
						{{ form_label(form.title,"Objet du mail",{'label_attr':{'class': 'col-lg-3 control-label'}}) }}
						{{ form_errors(form.title) }}
						
						<div class="col-lg-4">
							{{ form_widget(form.title, {'attr': {'class':'form-control'}}) }}
						</div>
					</div>	
				</div>
				
				<div class="col-lg-12">
					{{ form_errors(form) }}
					<div class="form-group">
						{{ form_label(form.content,"Contenu du mail",{'label_attr':{'class': 'col-lg-3 control-label'}}) }}
						{{ form_errors(form.content) }}
						
						<div class="col-lg-4">
							{{ form_widget(form.content, {'attr': {'class':'form-control'}}) }}
						</div>
					</div>	
				</div>
					
				<div class="col-lg-12">
					{{ form_errors(form) }}
					<div class="form-group">
						{{ form_label(form.name,"Votre prénom",{'label_attr':{'class': 'col-lg-3 control-label'}}) }}
						{{ form_errors(form.name) }}
						
						<div class="col-lg-4">
							{{ form_widget(form.name, {'attr': {'class':'form-control'}}) }}
						</div>
					</div>	
				</div>
				
				<div class="col-lg-12">
					{{ form_errors(form) }}
					<div class="form-group">
						{{ form_label(form.mail,"Votre e-mail",{'label_attr':{'class': 'col-lg-3 control-label'}}) }}
						{{ form_errors(form.mail) }}
						
						<div class="col-lg-4 ">
							{{ form_widget(form.mail, {'attr': {'class':'form-control'}}) }}
						</div>
					</div>	
				</div>
				
				<div class="col-lg-12">
					<div class="col-lg-4 col-lg-offset-6">
						{{ form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary'}}) }}
					</div>
				</div>
				
				{{ form_rest(form) }}
				{{ form_end(form) }}
			</div>
			
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 ">
					<ul id="site" class="listeFooter">
						<li> KEEG </li>
						<li> <a href="{{ path('keeg_website_homepage') }}"> Accueil </a> </li>
						<li> <a href="{{ path('keeg_website_iut') }}"> L'Informatique </a> </li>
						<li> <a href="{{ path('keeg_website_activities') }}"> A vous de jouer !</a> </li>
						<li> <a href="{{ path('keeg_website_forums') }}"> Forums </a> </li>
					</ul>
				</div>
				<div class="col-lg-3">
					<ul id="contacts" class="listeFooter">
						<li> Contacts <li>
						<li> <a href="http://iut.univ-lyon1.fr/"> IUT Claude Bernard Lyon 1</a> </li>
						<li> <a href="{{ path('keeg_website_contact') }}"> Équipe de KEEGProject </a> </li>
					</ul>
				</div>
				<div class="col-lg-3">
					<ul id="voir_aussi" class="listeFooter">
						<li> Voir aussi... <li>
						<li> <a href="http://openclassrooms.com/"> Open Classroom </a> </li>
					</ul>
				</div>
				<div class="col-lg-3">
					<table>
						<tr>
							<td> <a href="https://www.facebook.com/keegiutlyon"> <img src="{{ asset('image/fb.png') }}"> </a> </td>
							<td> <a href="#" > <img src="{{ asset('image/twitter.png') }}"> </a> </td>
							<td> <a href="#"> <img src="{{ asset('image/rss.png') }}"></a> </td>
							<td> <a href="#"> <img src="{{ asset('image/google.png') }}"></a> </td>
						</tr>
					</table>
			</div>
		</div>					
    </footer>
	
{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}