{# src/KEEG/WebsiteBundle/Resources/views/Advert/index.html.twig #}

{% extends "KEEGWebsiteBundle::admin.html.twig" %}

{% block title %}
  Index {{ parent() }}
{% endblock %}

{% block messages_flash %}
  {% for message in app.session.flashbag.get('admin') %}
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      Message flash : {{ message }}
    </div>
  {% endfor %}
{% endblock %}
    
{% block menu %}
	<h3>Index</h3>
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#">News</a></li>
		<li><a href="#">Articles</a></li>
		<li><a href="#">Témoignages</a></li>
		<li><a href="{{ path('keeg_admin_projects') }}">Projets</a></li>
	</ul>
{% endblock %}

{% block admin_body %}
	<h2>Panel d'administration</h2><hr>

	<h3>Liste des projets</h3>
	
	<ul>
		{% for projet in listeItems %}

			<li>
				<a href="{{ path('keeg_admin_projects_view', {'id': projet.id}) }}">
					{{ projet.titre }}
				</a>
			</li>

		{% else %}
			
			<li>Pas (encore !) de projets.</li>

		{% endfor %}
	</ul>

{% endblock %}