{# scr/KEEG/WebsiteBundle/Resources/views/structure.html.twig #}

<!DOCTYPE html>
<html>
	<head>

		{# On définit l'encodage des fichiers #}
		<meta charset="utf-8">

		{# Le block titre sera hérité dans les vues filles : cela permet de personnaliser le titre en fonction des pages #}
		<title>
			{% block title %} - KEEG Project{% endblock %}
		</title>

		{# On définit les liens vers le CSS, dont Bootstrap via CDN, mais aussi une feuille de style perso #}
		{% block stylesheets %}
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
			<link rel="shortcut icon" href="{{ asset('image/k3d.png') }}">
			<link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
		{% endblock %}

	</head>

	<body>

		{# On définit un conteneur qui jouera le rôle du "body" de notre page #}
		<div class="container">

			{# Définition de la barre de navigation qui sera statique #} 
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
				<div class="container-fluid">

					<div class="navbar-header" >
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand active" href="{{ path('keeg_website_homepage') }}">KEEGProject</a>
					</div>

					<div id="navbar" class="navbar-collapse collapse">

						{# Elements de la barre de navigation qui seront à gauche #}
						<ul class="nav navbar-nav">
							<li><a href="{{ path('keeg_website_homepage') }}"><i class="glyphicon glyphicon-home"></i> Accueil</a></li>
							<li><a href="{{ path('keeg_website_iut') }}">L'Univers de l'Informatique</a></li>
							<li><a href="{{ path('keeg_website_activities') }}">A vous de jouer !</a></li>
							<li class="dropdown">
								<a href="{{ path('keeg_website_forums') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Forums <span class="caret"></span>
								<ul class="dropdown-menu" role="menu">
									<li><a href="#">Poser une question à la communauté KEEG </a></li>
									<li><a href="#">Voir mes dernières réponses</a></li>
									<li class="divider"></li>
									<li class="dropdown-header">Derniers sujets </li>
									<li><a href="#">HELP : Lettre de motivation IUT</a></li>
									<li><a href="#">Informatique : Difficile ou pas ?</a></li>
								</ul>
							</li>
						</ul>

						{# Elements de la barre de navigation qui seront à droite #}
						<ul class="nav navbar-nav navbar-right">
							<li><a href="{{ path('keeg_website_admin') }}"><i class="glyphicon glyphicon-lock"></i> Administration </a></li>
							<li><a href="{{ path('keeg_website_about') }}">About</a></li>
							<li><a href="{{ path('keeg_website_contact') }}">Contact</a></li>
						</ul>
			        </div>
			    </div>
			</nav>
			
			{# Header du site #}
			<header class="jumbotron">
				<h1> KEEG : L'informatique pour tou-te-s </h1>
				<p>
					Découvrez un domaine fait aussi bien pour les garçons que pour les filles !
				</p>
				<p>
					<a href="#"> Se connecter </a> | <a href="#"> S'inscrire </a>
				</p>
			</header>

			{# Block qui permettra d'afficher des messages flashs. Les vues filles vont hériter de ce blog #}
			{% block messages_flash %}
			{% endblock %}

			
			{# Corps de la page #}
			<div class="row">
				{# Bloc menu qui sera propre à chaque page #}
				<div id="menu" class="col-lg-3 col-md-3">
					{% block menu %}
					{% endblock %}
				</div>

				{# Contenu de la page #}
				<div id="content" class="col-lg-9 col-md-9">
					{% block body %}
					{% endblock %}
				</div>

			</div>

			<hr />

			{# Pied de page #}
			<footer>
				<div class="col-lg-12 col-md-12 col-sm-12">
					
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-3">
							<ul id="site" class="listeFooter">
								<li> KEEG </li>
								<li> <a href="{{ path('keeg_website_homepage') }}"> Accueil </a> </li>
								<li> <a href="{{ path('keeg_website_iut') }}"> L'Informatique </a> </li>
								<li> <a href="{{ path('keeg_website_activities') }}"> A vous de jouer !</a> </li>
								<li> <a href="{{ path('keeg_website_forums') }}"> Forums </a> </li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<ul id="contacts" class="listeFooter">
								<li> Contacts <li>
								<li> <a href="http://iut.univ-lyon1.fr/"> IUT Claude Bernard Lyon 1</a> </li>
								<li> <a href="{{ path('keeg_website_contact') }}"> Équipe de KEEGProject </a> </li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<ul id="voir_aussi" class="listeFooter">
								<li> Voir aussi... <li>
								<li> <a href="http://openclassrooms.com/"> Open Classroom </a> </li>
							</ul>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-3">
							<table class="col-lg-3 col-md-3 col-sm-3">
								<tr>
									<td> <a href="https://www.facebook.com/keegiutlyon"> <img src="{{ asset('image/fb.png') }}"> </a> </td>
									<td> <a href="#" > <img src="{{ asset('image/twitter.png') }}"> </a> </td>
									<td> <a href="#"> <img src="{{ asset('image/rss.png') }}"></a> </td>
									<td> <a href="#"> <img src="{{ asset('image/google.png') }}"></a> </td>
								</tr>
							</table>
						</div>
					</div>
				</div>				
			</footer>

		</div>

		{% block javascripts %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
			<script src="{{ asset('js/script.js') }}"></script>
		{% endblock %}

	</body>

</html>